<div class="hero-unit">
    <h1>Image Sharer</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur libero impedit repellendus omnis eos porro quia sequi vero, itaque earum recusandae molestiae error possimus debitis adipisci aut praesentium aliquam veritatis.</p>
    <p>
        <%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-lg" %>
    </p>
</div>
